[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
alembic = "*"
psycopg2 = "*"
asyncpg = "*"
fastapi-users = {extras = ["sqlalchemy"], version = "*"}
click = "*"

[dev-packages]
flake8 = "*"
black = "*"
pytest = "*"
pytest-cov = "*"
mypy = "*"

[requires]
python_version = "3.8"
